# Overview of the basics of programming in Python
This is a very quick introduction to Python, enough to move on with data manipulation and Machine Learning.

To go further than that, I highly recommend you go through the Python [tutorial](https://docs.python.org/3/tutorial).

**Pre-requisite**:
- A working installation of Python>=3.8
- A working installation of the corresponding version of pip

> Note that throughout this tutorial you need to use the correct Python executable on your system

## Creating a virtual environment and running jupyter notebook

All of the labs in this course will be done using Python and [Jupyter](https://jupyter.org/), a Web-based interactive development environment.


To install Jupyter notebook, follow the following steps in your terminal:

0. Go to the folder where you downloaded the prog_basics folder.


1. Create a virtual environment (a self-contained directory tree that contains a Python installation for a particular version of Python, plus a number of additional packages.)

>```python -m venv venv```

2. Activate virtual environment
>```source venv/bin/activate```
or
>```./venv/Scripts/activate```

3. Install Jupyter
> ```pip install jupyter```

4. Launch the jupyter notebook for today
> ```jupyter notebook lab0_introduction.ipynb```

### Practice: installing your own package
Install the **numpy** package in your environment and check that the import work by running:

In [ ]:
import numpy as np

### Practice: play around with jupyter and the shortcuts
- Create a new cell
- Remove cell
- Run cell

## Python Syntax - Indentation

Indentation is very important in Python, it impacts the meaning of your instructions.
For example, the first instruction is correct whereas the second will throw a syntax error:

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [3]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

## Pyhton syntax - Comments
You may need to explain things in between your lines of codes, for this you can use comments.

In [4]:

#This is a comment.
print("Hello, World!")

print("Hello, World!") #This is a comment.

"""this
is a 
multi lines
comment
"""
print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!

## Variables
Variables are used to store data values. In Python you simply use the "=" sign.

A variable can have a short name (like x and y) or a more descriptive name (age, firstname, total_volume). Rules for Python variables:

- A variable name must start **with a letter or the underscore character**
- A variable name cannot **start with a number**
- A variable name can only contain **alpha-numeric characters and underscores** (A-z, 0-9, and _ )
- A variable name is **case-sensitive** (age, Age and AGE are three different variables)
- A variable name **cannot be any of the Python keywords**.

In [5]:
x = 5
y = "Jane"
print(x)
print(y)

5
Jane


In this case, 
- "x" will be recognized as an integer (int)
- "y" will be recognized as a string (str).

There are several kinds of types in Python.

## Data types in Python

Python comes with the following built-in types:

- Text Type:	`str`

- Numeric Types:	`int, float, complex`

- Sequence Types:	`list, tuple, range`

- Mapping Type:	`dict`

- Set Types:	`set, frozenset`

- Boolean Type:	`bool`

- Binary Types:	`bytes, bytearray, memoryview`

- None Type:	`NoneType`

To access the type of an object, call the `type` function on this object.

In [6]:
my_string = "string"
print(type(my_string))

my_int = 5
print(type(my_int))

<class 'str'>
<class 'int'>

## Operators

Operators are used to perform operations on variables and values.

**Arithmetic operators**: +, -, *, /, %, **, //

**Assignment operators**: =, +=, -=, *=, etc...

**Comparison operators**: ==, !=, >, <, >=, <=


**Logical operators**:
- and : returns true if both statements are true (ex: x < 5 and  x < 10)
- or : returns True if one of the statements is true (ex: x < 5 or x < 4)
- not : Reverse the result, returns False if the result is true (ex: not(x < 5 and x < 10))

In [7]:
print (3 + 5)

8

In [8]:
x = 4
print(x)
x += 3
print(x)

4
7

In [9]:
if x == 7:
  print("you win!")
if x != 7:
  print("you loose!")

you win!

## if / else
You can use this statement to test a condition and execute an instruction depending on the result

In [10]:
a = 33
b = 200
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

### Exercise:
- print "bazinga !" if a and b are positive numbers but also less than 500
- print "too bad !" if not
- play with the values of a and b to change the outcome of your code

## loops

### While loops

With the while loop we can execute a set of statements as long as a condition is true.

In [11]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

With the break statement we can stop the loop even if the while condition is true:

In [12]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

### Exercise:
print the numbers between 20 and 5 in the descending order

In [13]:
for ix in range(20, 4, -1):
    print(ix)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5

### For loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [14]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

for x in "banana":
  print(x)

apple
banana
cherry
b
a
n
a
n
a

With the break statement we can stop the loop before it has looped through all the items

In [15]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

Using the range() function

In [16]:
for x in range(6):
  print(x)

0
1
2
3
4
5

## Creating functions
Learn more about functions in Python [here](https://docs.python.org/3/tutorial/controlflow.html#defining-functions).

In Python a function is defined using the `def` keyword.

In [17]:
def print_hello_world():
    print("Hello world !")

To call a function, use the function name followed by parenthesis.

In [18]:
print_hello_world()

Hello world !

The return of a function is specified using the `return` keyword.

In [19]:
def return_hello_world():
    return "hello world !"

hello_world = return_hello_world()
print(hello_world)

hello world !

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

In [20]:
def how_many_fingers(nb_of_hands: int):
    return f"you have {nb_of_hands * 5} fingers in total"

print(how_many_fingers(nb_of_hands=2))

you have 10 fingers in total

### Exercise:

1. Create a function that takes 2 integers and returns True if the first integer is higher than the second, else False.


2. Create a function the multiplies by a given integer of a given input float.


3. Create a function that returns the sum of two floats.

In [21]:
# Create a function that takes 2 integers and return a string that says which one is greater than the other or if they are equal

def which_is_greater(x: int, y:int) -> str:
    """Functions that returns True if x is greater than y, otherwise False.
    """
    return str(x > y)

In [22]:
which_is_greater(4, 5)

'False'

In [23]:
def multiply_by_ratio(x: float, ratio: int) -> float:
    """Function that returns the x input and multiplied by the ratio int.
    """
    return x * ratio

In [24]:
def sum_floats(a: float, b: float) -> float:
    """Function that returns the sum of two floats a and b.
    """
    return a+b

## Basic data structures
Learn more about data structures [here](https://docs.python.org/3/tutorial/datastructures.html#).

### Lists: A built-in Python sequence
Lists are used to store multiple items in a single variable.

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc (different from R where indexing starts at 0!)

In [25]:
my_list = ["test", 1, "titi"]

print(my_list[0])
print(my_list[2])

test
titi


Negative indexing means start from the end
-1 refers to the last item, -2 refers to the second last item etc.

In [26]:
my_list = ["pears", "apples", "bananas"]

print(my_list[-1])
print(my_list[-2])

bananas
apples


Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.
When specifying a range, the return value will be a new list with the specified items.

In [27]:

my_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(my_list[2:5])
print(my_list[:4])
print(my_list[2:])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']


Check if an item exists in the list:

In [28]:

my_list = ["apple", "banana", "cherry"]
if "apple" in my_list:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list


Find the length of a list

In [29]:
print(len(my_list))

3


Change an item value:

In [30]:

my_list = ["apple", "banana", "cherry"]
my_list[1] = "blackcurrant"
print(my_list)

['apple', 'blackcurrant', 'cherry']


Insert items:

In [31]:

my_list = ["apple", "banana", "cherry"]
my_list.insert(2, "watermelon")
print(my_list)

['apple', 'banana', 'watermelon', 'cherry']


Append items:

In [32]:
my_list = ["apple", "banana", "cherry"]
my_list.append("orange")
print(my_list)

['apple', 'banana', 'cherry', 'orange']

Remove items:

In [33]:

my_list = ["apple", "banana", "cherry"]
my_list.remove("banana")
print(my_list)
my_list = ["apple", "banana", "cherry"]
my_list.pop(2)
print(my_list)

['apple', 'cherry']
['apple', 'banana']


Loop through a list:

In [34]:
my_list = ["apple", "banana", "cherry", "mango", "lemon", "orange"]
for x in my_list:
  print(x)
print("--------")
for i in range(1,4):
  print(my_list[i])

apple
banana
cherry
mango
lemon
orange
--------
banana
cherry
mango

#### Exercise
Read the first paragraph on list of [data structures](https://docs.python.org/3/tutorial/datastructures.html#), and:

1. Create a function that returns the multiplication of each value in a list by a given number.
**Bonus**: *Use the previous function multiply_by_ratio that you created earlier.*
2. Create a function that removes the first and last element of a list.

In [35]:
from typing import List

def list_multiply(input_list: List[float], ratio: int):
    """
    Gets as input a list of numerical values and outputs the list of its items multiplied by the ratio.
    
    Example:
    list_multiply([1, 3, 4], 2) outputs [2, 6, 8]
    """
    return [item*ratio for item in input_list]

In [36]:
def crop_list(input_list):
    """Gets as input a list of values and outputs the list without the first and last elements.
    
    Example:
    crop_list([1, "hello", 3, 4, "world"]) outputs ["hello", 3, 4])
    """
    return input_list[1:-1]

### Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is **not** ordered, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values.

In [37]:
my_dict = {
    "apple": 1, # apple is the key, 1 is the value
    "banana": 3,
    "pear": 4
}

# Get a specific value
print("I have", my_dict["pear"], "pears")

# Assign new value
my_dict["peach"] = 7

print(my_dict)

# Change existing value
my_dict["banana"] = 5

print(my_dict)

# Loop a dictionary
for x in my_dict:
  print(x)

for x, y in my_dict.items():
  print(x, y)

I have 4 pears
{'apple': 1, 'banana': 3, 'pear': 4, 'peach': 7}
{'apple': 1, 'banana': 5, 'pear': 4, 'peach': 7}
apple
banana
pear
peach
apple 1
banana 5
pear 4
peach 7

#### Practice: 
Read the paragraph concerning dictionaries [here](https://docs.python.org/3/tutorial/datastructures.html#dictionaries) and solve the following exercices:

1. Create a function that adds +1 to every value in a dictionary
2. Create a function that inverts every key of a dictionary.

In [38]:
def add_one_to_dict(input_dict):
    """Gets as input a dict with numerical values and adds + 1 to every value.
    
    Example:
    {"banana": 2, "peach": 3} outputs {"banana": 3, "peach": 4}
    """
    return {
        k: v+1 for k, v in input_dict.items()
    }

In [39]:
add_one_to_dict({'apple': 1, 'banana': 3, 'pear': 4, 'peach': 7})

{'apple': 2, 'banana': 4, 'pear': 5, 'peach': 8}

In [40]:
def invert_dict_key(input_dict):
    """Inverts the key of a dictionary.
    
    Example:
    {"banana": 2, "peach": 3} outputs {"ananab": 2, "hcaep": 3}
    """
    return {
        k[::-1]: v+1 for k, v in input_dict.items()
    }

In [41]:
invert_dict_key({'apple': 1, 'banana': 3, 'pear': 4, 'peach': 7})

{'elppa': 2, 'ananab': 4, 'raep': 5, 'hcaep': 8}

### Sets

A set is an unordered collection with no duplicate elements

Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

In [42]:
my_set = {"banana", "banana", "apple"}
print(my_set)

{'apple', 'banana'}

#### Practice
Read the paragraph regarding sets [here](https://docs.python.org/3/tutorial/datastructures.html#sets) and complete the following exercice:

1. Create a function that computes the number of distinct letters within two words

In [43]:
def compute_distinct(word_1, word_2):
    """Compute the number of unique letters of word_1 and word_2.
    
    Example:
    compute_distinct("banana", "apple") = 6
    """
    return len(set(word_1 + word_2))

In [44]:
compute_distinct("banana", "apple")

6

## Basic OOP
Learn more about OOP with Python [here](https://docs.python.org/3/tutorial/classes.html).

Classes provide a means of bundling data and functionality together. 

Creating a new class creates a new type of object, allowing new instances of that type to be made. 

Each class instance can have attributes attached to it for maintaining its state. 

Class instances can also have methods. A method is a programmed procedure that is defined as part of a class and is available to any object instantiated from that class. https://en.wikipedia.org/wiki/Method_(computer_programming)

In [45]:
class MyExample:
    """
    Example class.
    """
    def __init__(self, attribute_example):
        """
        Initialize an object of class MyExample.
        """
        self.attribute_example = attribute_example
        
    def demo_method(self):
        """
        Demonstration method.
        """
        print("this is a demonstration !")

In [46]:
example_object = MyExample(attribute_example=2)
example_object.demo_method()

this is a demonstration !

### Practice
Using the OOP tutorial [here](https://docs.python.org/3/tutorial/classes.html), write a class:
- Called `Human` 
- With an attribute `age` and `name` 
- With a method `speak` that prints an input string.

In [47]:
class Human:
    """
    Human class, with attributes name and age and a method speak.
    """
    def __init__(self, age: int, name: str):
        """Initalize an object of class Human.

        Args:
            age (int): The age of the human.
            name (str): The name of the human.
        """
        self.age = age
        self.name = name

    def speak(self, sentence: str):
        """Print the input string as well as the age and the name of the human.
        """
        print(f"My name is {self.name.capitalize()}, I'm {self.age} years old.")
        print(sentence)

In [48]:
joe = Human(name="joe", age=50)

In [49]:
joe.speak("hello !")

My name is Joe, I'm 50 years old.
hello !